@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body{
  margin: 0;
  padding: 0;
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
}
.App{
  background-image: url("https://www.kartinki24.ru/uploads/gallery/main/31/kartinki24_ru_nature_136.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family:'Open Sans';
  min-height: 100vh;
  overflow: hidden;
}
